div.comment-form-wrapper {
  background-color: #f6f6f6;
  width: 100%;
  min-height: 150px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
div.comment-form-wrapper span.title {
  font-family: 'Roboto Condensed';
  font-size: 20px;
  display: inline-block;
  width: 100%;
  background-color: white;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
}
div.comment-form-wrapper span.replywho {
  margin-left: 40px;
}
div.comment-form-wrapper div.info {
  width: 700px;
  height: 120px;
  background-color: white;
  margin: 20px auto;
  padding: 40px;
  border-radius: 6px;
  border: 1px solid #e7e7e7;
}
div.comment-form-wrapper div.info span.top-info {
  font-weight: bold;
}
div.comment-form-wrapper div.info span.comment-preview {
  display: inline-block;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  margin-top: 30px;
  padding: 10px 13px;
}
div.comment-form-wrapper form {
  margin: 20px auto;
  width: 740px;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #e7e7e7;
}
div.comment-form-wrapper form legend {
  font-family: 'Roboto Condensed';
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}
div.comment-form-wrapper form textarea {
  font-size: 12pt;
  font-weight: lighter;
  padding: 10px;
  margin: auto;
  display: block;
  resize: none;
  width: 90%;
  height: 80px;
  border: 3px solid #6e6e6e;
  border-radius: 5px;
}
div.comment-form-wrapper form span.label {
  margin-left: 25px;
}
div.comment-form-wrapper form input[type="text"] {
  margin-top: 20px;
  border: 3px solid #6e6e6e;
  padding: 10px;
  border-radius: 5px;
  margin-left: 15px;
  width: 349px;
}
div.comment-form-wrapper form input[type="submit"] {
  padding: 15px 30px;
  border-style: none;
  color: white;
  background-color: #cb3c3c;
  border-radius: 5px;
  font-weight: bold;
}
