div.compose-form-wrapper {
  background-color: white;
  min-height: 500px;
  width: 900px;
  border: 1px solid #ccc;
  margin: auto;
  margin-top: 70px;
  border-radius: 6px;
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
}
div.compose-form-wrapper form {
  text-align: left;
  padding-left: 120px;
}
div.compose-form-wrapper form h2 {
  color: #292929;
}
div.compose-form-wrapper form span.req {
  color: #cb3c3c;
  font-weight: bold;
}
div.compose-form-wrapper form span {
  display: inline-block;
  margin-bottom: 10px;
}
div.compose-form-wrapper form span img.md {
  margin-left: 20px;
  vertical-align: middle;
  height: 22px;
  display: inline-block;
}
div.compose-form-wrapper form input[type="text"] {
  border: 3px solid #6e6e6e;
  width: 640px;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}
div.compose-form-wrapper form input[type="submit"] {
  margin-top: 30px;
  padding: 15px 30px;
  border-style: none;
  color: white;
  background-color: #cb3c3c;
  border-radius: 5px;
  font-weight: bold;
}
div.compose-form-wrapper form select {
  margin-left: 10px;
  border: none;
  padding: 10px;
  padding-left: 7px;
  padding-right: 5px;
  background-color: #f4f4f4;
  border-radius: 5px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
div.compose-form-wrapper form textarea {
  font-size: 11pt;
  font-weight: lighter;
  font-family: 'Overpass Mono';
  padding: 10px;
  width: 640px;
  min-height: 200px;
  resize: vertical;
  border: 3px solid #6e6e6e;
  border-radius: 5px;
}
