* {
  font-family: Roboto;
}
html,
body {
  margin: 0;
  padding: 0;
}
span.category-show {
  margin-left: 10px;
  margin-right: 7px;
}
div.header-wrapper {
  height: 45px;
  background-color: #cb3c3c;
  line-height: 45px;
  color: white;
  overflow: hidden;
  user-select: none;
  vertical-align: middle;
}
div.header-wrapper img.logo {
  margin-left: 2px;
  height: 45px;
  display: block;
  float: left;
  margin-right: 10px;
}
div.header-wrapper img.logo:hover {
  cursor: pointer;
}
div.header-wrapper span.label {
  font-family: 'Roboto Condensed';
  background-color: white;
  font-weight: bold;
  padding: 0px 6px;
  width: 80px;
  text-align: center;
  color: #cb3c3c;
  float: left;
  display: block;
  height: 45px;
  line-height: 45px;
}
div.header-wrapper span.label:hover {
  cursor: pointer;
  background-color: #fbf1f1;
}
div.header-wrapper span.label:active {
  background-color: #f1c9c9;
}
div.header-wrapper span.compose {
  z-index: 1;
  background-color: white;
  color: #cb3c3c;
  display: block;
  text-align: center;
  height: 45px;
  line-height: 45px;
  font-weight: bold;
  font-family: 'Overpass Mono';
  position: fixed;
  right: 0;
  top: 0;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-left-radius: 8px;
  border-bottom: 1px solid #cb3c3c;
  border-left: 1px solid #cb3c3c;
}
div.header-wrapper div.scroller-wrapper {
  height: 45px;
  margin-left: 0px;
  overflow: hidden;
  display: inline-block;
  padding: 0 10px;
}
div.header-wrapper div.scroller-panel {
  height: 90px;
  line-height: 45px;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.38, 1.03, 0.32, 1.6);
  margin-top: 1px;
}
div.header-wrapper div.scroller-panel a {
  font-family: 'Roboto Condensed';
  background-color: white;
  color: #cb3c3c;
  padding: 5px 8px;
  border-radius: 4px;
  text-decoration: none;
  box-sizing: border-box;
}
div.header-wrapper div.scroller-panel a:hover {
  background-color: #d35858;
  color: white;
}
div.header-wrapper div.scroller-panel a.all:hover {
  background-color: white;
  color: #d35858;
}
div.header-wrapper div.scroller-panel span.login-info {
  margin-left: 10px;
  font-family: 'Roboto Condensed';
}
@keyframes scroll-down {
  100% {
    transform: translateY(-45px);
  }
}
@keyframes scroll-up {
  from {
    transform: translateY(-45px);
  }
  100% {
    transform: translateY(0px);
  }
}
div.header-wrapper .scrolldown {
  animation-name: scroll-down;
}
div.header-wrapper .scrollup {
  animation-name: scroll-up;
}
div.notification-wrapper {
  background-color: #cb3c3c;
  height: 45px;
  min-width: 50px;
  position: absolute;
  top: 0;
  left: 940px;
  text-align: center;
  padding-left: 3.25px;
  padding-right: 3.25px;
}
div.notification-wrapper span.notification-count {
  cursor: pointer;
  margin-top: 7.5px;
  background-color: white;
  color: #cb3c3c;
  display: inline-block;
  text-align: center;
  height: 30px;
  min-width: 30px;
  box-sizing: border-box;
  line-height: 30px;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  transition-duration: 0.3s;
}
div.notification-wrapper span.notification-count:hover {
  border-radius: 0;
  margin-top: 0;
  height: 100%;
  line-height: 45px;
  min-width: 50px;
  font-size: 25px;
  font-weight: bold;
}
div.notification-dropdown {
  z-index: 1;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  width: 260px;
  min-height: 400px;
  max-height: 600px;
  background-color: white;
  left: 750px;
  border: 1px solid #d9d9d9;
  border-top: none;
  box-shadow: 0px 11px 35px -8px rgba(0, 0, 0, 0.42);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  visibility: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
}
div.notification-dropdown h3 {
  text-align: center;
}
div.notification-dropdown div.notification:first-child {
  border-top: 1px solid #d9d9d9;
}
div.notification-dropdown div.notification {
  border-bottom: 1px solid #d9d9d9;
  padding: 10px 0;
  color: #3b3b3b;
}
div.notification-dropdown div.notification span.sender {
  cursor: pointer;
  font-family: 'Roboto Condensed';
  color: #8e52ff;
  text-decoration: underline;
}
div.notification-dropdown div.notification span.on-post {
  color: #ff3b8b;
  text-decoration: underline;
  cursor: pointer;
}
div.notification-dropdown div.notification span.on-comment {
  color: #6acf13;
  text-decoration: underline;
  cursor: pointer;
}
.visible {
  visibility: visible !important;
}
ul.navbar {
  margin: 0 auto;
  background-color: #f7f7f7;
  width: 100%;
  display: block;
  list-style-type: none;
  height: 30px;
  border-bottom: 1px solid #d9d9d9;
  padding: 0;
}
ul.navbar li {
  box-shadow: inset 0px 19px 23px -23px rgba(0, 0, 0, 0.17);
  cursor: pointer;
  float: right;
  height: 100%;
  width: 33.33333333333%;
  display: inline-block;
  line-height: 30px;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
  background-color: #b73131;
  color: #f1c9c9;
}
ul.navbar li:hover {
  background-color: #c03333;
  color: #fbf1f1;
}
ul.navbar li.selected {
  background-color: #cb3c3c;
  color: white;
}
div.postview {
  padding-top: 5px;
}
div.postview-pinned {
  width: 100%;
  margin: 15px 0 20px 0;
}
h5 {
  margin: -5px 0 15px 15px;
}
div.post:first-of-type {
  border-bottom: 1px solid #d9d9d9;
}
div.post:last-of-type {
  border-bottom: 1px solid #d9d9d9;
}
div.post {
  overflow: hidden;
  height: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid #d9d9d9;
  line-height: 40px;
  font-size: 23px;
  font-family: 'Roboto Condensed';
  font-weight: bold;
  background-color: white;
}
div.post span.title {
  margin-left: 300px;
  font-family: 'Roboto Condensed';
  width: 100% - 20px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.post div.post-user.userpage {
  line-height: 40px;
}
div.post div.post-user {
  box-sizing: border-box;
  font-weight: normal;
  width: 310px;
  height: 100%;
  float: left;
  margin-right: 8px;
  line-height: 19px;
  font-size: 14px;
}
div.post div.post-user img {
  float: right;
  height: 20px;
  width: 20px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 10px;
}
div.post div.post-user div.user-info {
  float: right;
  text-align: right;
  margin-right: 5px;
}
div.post div.post-user div.user-info span.date-posted {
  color: #a8a8a8;
  font-family: 'Overpass Mono';
}
div.post div.post-user div.user-info span.date-posted span.category {
  color: #6e6e6e;
  font-family: 'Roboto';
}
div.post div.post-user div.user-info span.username {
  font-size: 13.5px;
  font-family: 'Roboto Condensed' !important;
}
.hoverpointer:hover {
  cursor: pointer;
}
.hoverunderline:hover {
  text-decoration: underline;
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
