html,
body {
  margin: 0;
  padding: 0;
}
* {
  font-family: Roboto;
}
body {
  background-image: url('../assets/tripattern.svg');
  background-size: 1024px;
  animation-name: movebg;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes movebg {
  100% {
    background-position: 1024px 1024px;
  }
}
div.sidebar {
  position: fixed;
  right: 0;
  height: 100%;
  width: 600px;
  background-color: white;
  -webkit-box-shadow: -80px 0px 196px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -80px 0px 196px 0px rgba(0, 0, 0, 0.35);
  box-shadow: -80px 0px 196px 0px rgba(0, 0, 0, 0.35);
}
div.sidebar img {
  background-color: #cb3c3c;
}
div.sidebar form {
  box-sizing: border-box;
  border-radius: 5px;
  padding: 30px;
  border: 1px solid #ccc;
  margin: 50px;
  width: 500px;
}
div.sidebar form legend {
  font-family: 'Roboto Condensed';
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}
div.sidebar form input[type="text"],
div.sidebar form input[type="password"] {
  width: 200px;
  border: 3px solid #6e6e6e;
  margin-left: 50px;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}
div.sidebar form input[type="submit"] {
  margin-top: 10px;
  padding: 15px 50px;
  border-style: none;
  color: white;
  background-color: #cb3c3c;
  border-radius: 5px;
  font-weight: bold;
}
div.sidebar a {
  padding: 0 60px;
  text-decoration: none;
  color: #5d5d5d;
}
