// out: login.css
@import "colours";

html, body {
  margin: 0;
  padding: 0;
}

* {
  font-family: Roboto;
}

@bgsize: 1024px;

body {
  background-image: url('../assets/tripattern.svg');
  background-size: @bgsize;
  //background-position: 0px 0px;

  animation-name: movebg;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes movebg {
  100% {
    background-position: @bgsize @bgsize;
  }
}

div.sidebar {
  position: fixed;
  right: 0;
  height: 100%;
  width: 600px;
  background-color: white;

  -webkit-box-shadow: -80px 0px 196px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: -80px 0px 196px 0px rgba(0,0,0,0.35);
  box-shadow: -80px 0px 196px 0px rgba(0,0,0,0.35);

  img {
    background-color: @main;
  }

  form {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 30px;
    border: 1px solid @border-main;
    margin: 50px;
    width: 500px;

    legend {
      font-family: 'Roboto Condensed';
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 30px;
    }

    input[type="text"], input[type="password"] {
      width: 200px;
      border: 3px solid @grey-2;
      margin-left: 50px;
      padding: 10px;
      font-weight: bold;
      border-radius: 5px;
    }

    input[type="submit"] {
      margin-top: 10px;
      padding: 15px 50px;
      border-style: none;
      color: white;
      background-color: @main;
      border-radius: 5px;
      font-weight: bold;
    }

    input[type="submit"]:hover {
      background-color: darken(@main, 7%);
      cursor: pointer;
    }

    span.error {
      margin-left: 20px;
      padding: 12.5px 20px;
      color: @error-colour;
      border: 1px solid @error-colour;
      border-radius: 5px;
    }
  }

  span.reg {
    color: @grey-2;
    padding-left: 50px;

    a {
      color: @hyper-colour;
    }
  }
}
