// out: post.css

div.post-panel {
  background-color: white;
  min-height: 200px;
  border-bottom: 3px solid #d9d9d9;
  position: relative;
  padding-bottom: 80px;
  background-color: #f7f7f7;

  div.post-panel-top {
    height: 40px;
    border-bottom: 1px solid #d9d9d9;
    background-color: white;

    span {
      display: inline-block;
      height: 100%;
      line-height: 40px;
      margin-right: 10px;
      margin-left: 10px;
    }

    img {
      margin-left: 20px;
      height: 15px;
    }
  }

  h1.title {
    font-family: 'Roboto Condensed';
    margin-left: 30px;
  }

  div.content-wrapper {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 40px 40px;
    margin: 0 70px;
    font-family: 'Roboto';
    font-size: 13pt;

    ol {
      counter-reset: item;
      list-style: none;

      li {
        counter-increment: item;
        margin-bottom: 5px;
      }
      li:before {
        margin-right: 10px;
        content: counter(item) ' .';
        font-weight: bold;
      }
    }

    h1, h2, h3, h4, h5, h6 {
      padding-bottom: 7px;
      border-bottom: 3px solid #f1f1f1;
    }

    a {
      color: #5789df;
    }

    pre {
      font-family: 'Overpass Mono';
      background-color: #f9f9f9;
      padding: 15px;
      font-size: 12pt;
      border-radius: 3px;
      border: 1px solid #ccc;

      code {
        font-family: inherit;
      }
    }

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      border-radius: 9px;
      max-width: 1100px;
    }

    hr {
      margin: 20px 0px;
      border: none;
      border-top: 3px solid #e8e8e8;
    }

    table {
      border-collapse: collapse;
    }

    th {
      background-color: #f1f1f1;
    }

    th, td {
      border: 1px solid #ccc;
      padding: 10px 15px;
    }

    tbody tr:nth-child(even) {
      background-color: #f7f7f7;
    }
  }

  div.post-panel-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    border-top: 1px solid #d9d9d9;
    background-color: white;

    span.post-panel-bottom-likes {
      position: absolute;
      display: inline-block;
      height: 100%;
      line-height: 50px;

      img {
        position: absolute;
        top: 15px;
        left: 30px;
        height: 20px;
      }

      span {
        position: absolute;
        left: 60px;
      }
    }

    span.post-panel-bottom-views {
      position: absolute;
      display: inline-block;
      height: 100%;
      line-height: 50px;
      margin-left: 90px;

      img {
        position: absolute;
        top: 15px;
        left: 30px;
        height: 20px;
      }

      span {
        position: absolute;
        left: 75px;
      }
    }
  }
}
