div.post-panel {
  background-color: white;
  min-height: 200px;
  border-bottom: 3px solid #d9d9d9;
  position: relative;
  padding-bottom: 80px;
  background-color: #f7f7f7;
}
div.post-panel div.post-panel-top {
  height: 40px;
  border-bottom: 1px solid #d9d9d9;
  background-color: white;
}
div.post-panel div.post-panel-top span {
  display: inline-block;
  height: 100%;
  line-height: 40px;
  margin-right: 10px;
  margin-left: 10px;
}
div.post-panel div.post-panel-top img {
  margin-left: 20px;
  height: 15px;
}
div.post-panel h1.title {
  font-family: 'Roboto Condensed';
  margin-left: 30px;
}
div.post-panel div.content-wrapper {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 30px;
  margin: 0 70px;
  font-family: 'Roboto';
  font-size: 14pt;
  text-align: left;
}
div.post-panel div.post-panel-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  border-top: 1px solid #d9d9d9;
  background-color: white;
}
div.post-panel div.post-panel-bottom span.post-panel-bottom-likes {
  position: absolute;
  display: inline-block;
  height: 100%;
  line-height: 50px;
}
div.post-panel div.post-panel-bottom span.post-panel-bottom-likes img {
  position: absolute;
  top: 15px;
  left: 30px;
  height: 20px;
}
div.post-panel div.post-panel-bottom span.post-panel-bottom-likes span {
  position: absolute;
  left: 60px;
}
div.post-panel div.post-panel-bottom span.post-panel-bottom-views {
  position: absolute;
  display: inline-block;
  height: 100%;
  line-height: 50px;
  margin-left: 90px;
}
div.post-panel div.post-panel-bottom span.post-panel-bottom-views img {
  position: absolute;
  top: 15px;
  left: 30px;
  height: 20px;
}
div.post-panel div.post-panel-bottom span.post-panel-bottom-views span {
  position: absolute;
  left: 75px;
}
