div.post-panel {
  min-height: 200px;
  border-bottom: 1px solid #ccc;
  position: relative;
  padding-bottom: 80px;
  background-color: #f7f7f7;
}
div.post-panel div.post-panel-top {
  height: 40px;
  border-bottom: 1px solid #d9d9d9;
  background-color: white;
}
div.post-panel div.post-panel-top span {
  display: inline-block;
  height: 100%;
  line-height: 40px;
  margin-right: 10px;
  margin-left: 10px;
}
div.post-panel div.post-panel-top span.category {
  margin-left: 20px;
  font-weight: bold;
}
div.post-panel div.post-panel-top img {
  margin-left: 20px;
  height: 15px;
}
div.post-panel div.post-panel-top span.del-post {
  font-size: 13px;
  float: right;
  font-weight: bold;
  padding: 0px 10px;
  margin: 0 3px;
}
div.post-panel div.post-panel-top span.del-post:hover {
  color: white;
  background-color: #f15b47;
}
div.post-panel div.post-panel-top span.edit-post {
  font-size: 13px;
  float: right;
  font-weight: bold;
  padding: 0px 10px;
  margin: 0 3px;
}
div.post-panel div.post-panel-top span.edit-post:hover {
  color: white;
  background-color: #53dbae;
}
div.post-panel h1.title {
  font-family: 'Roboto Condensed';
  margin-left: 30px;
}
div.post-panel div.content-wrapper {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 40px 40px;
  margin: 0 70px;
  font-family: 'Roboto';
  font-size: 13pt;
}
div.post-panel div.content-wrapper *:first-child {
  margin-top: 0;
}
div.post-panel div.content-wrapper *:last-child {
  margin-bottom: 0;
}
div.post-panel div.content-wrapper ol {
  counter-reset: item;
  list-style: none;
}
div.post-panel div.content-wrapper ol li {
  counter-increment: item;
  margin-bottom: 5px;
}
div.post-panel div.content-wrapper ol li:before {
  margin-right: 10px;
  content: counter(item) ' .';
  font-weight: bold;
}
div.post-panel div.content-wrapper h1,
div.post-panel div.content-wrapper h2,
div.post-panel div.content-wrapper h3,
div.post-panel div.content-wrapper h4,
div.post-panel div.content-wrapper h5,
div.post-panel div.content-wrapper h6 {
  padding-bottom: 7px;
  border-bottom: 3px solid #f4f4f4;
}
div.post-panel div.content-wrapper a {
  color: #5056db;
}
div.post-panel div.content-wrapper pre {
  font-family: 'Overpass Mono';
  background-color: #fafafa;
  padding: 15px;
  font-size: 12pt;
  border-radius: 3px;
  border: 1px solid #ccc;
}
div.post-panel div.content-wrapper pre code {
  font-family: inherit;
}
div.post-panel div.content-wrapper img {
  display: block;
  margin: 0 auto;
  max-width: 1000;
  border-radius: 4px;
}
div.post-panel div.content-wrapper hr {
  margin: 20px 0px;
  border: none;
  border-top: 3px solid #f7f7f7;
}
div.post-panel div.content-wrapper table {
  border: 1px solid #ccc;
  border-spacing: 0px;
}
div.post-panel div.content-wrapper th {
  background-color: #f7f7f7;
}
div.post-panel div.content-wrapper th,
div.post-panel div.content-wrapper td {
  border: 1px solid #ccc;
  padding: 10px 15px;
}
div.post-panel div.content-wrapper tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}
div.post-panel div.post-panel-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  border-top: 1px solid #d9d9d9;
  background-color: white;
  padding: 0 15px;
}
div.post-panel div.post-panel-bottom input[type="image"] {
  position: absolute;
  height: 25px;
  top: 7.5px;
}
div.post-panel div.post-panel-bottom span.like-count {
  position: absolute;
  display: block;
  height: 25px;
  line-height: 25px;
  top: 7.5px;
  left: 45px;
}
.accent {
  color: #6acf13;
  font-weight: bold;
}
div.comment-panel {
  margin-top: 10px;
  min-height: 200px;
  width: 100%;
  background-color: white;
  padding-bottom: 25px;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  word-wrap: break-word;
}
div.comment-panel span.nocomments {
  color: #6e6e6e;
  display: block;
  font-weight: bold;
  padding: 30px;
  margin: auto;
  margin-left: 20px;
}
div.comment-panel h2 {
  margin: 0 auto;
  padding: 10px;
}
div.comment-panel span.count {
  padding: 10px 20px;
  color: #a8a8a8;
}
div.comment-panel span.newcommentbutton {
  background-color: #f7f7f7;
  padding: 4px 8px;
  border-radius: 5px;
  color: #3b3b3b;
  border: 1px solid #d9d9d9;
}
div.comment-panel span.newcommentbutton:hover {
  background-color: #f4f4f4;
}
div.comment-panel div.comments {
  margin-top: 20px;
  background-color: #f7f7f7;
  width: 100%;
  min-height: 30px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
div.comment-panel span.embed-newcomment {
  display: inline-block;
  height: 100%;
  font-size: 12px;
  color: #3b3b3b;
  font-weight: bold;
  padding: 0 8px;
  border-radius: 3px;
}
div.comment-panel span.embed-newcomment:hover {
  background-color: #6e6e6e;
  color: white;
}
@keyframes flash {
  0% {
    background-color: #fffedd;
  }
  50% {
    background-color: #fffedd;
  }
  100% {
    background-color: white;
  }
}
div.comment-panel div.comment.flash {
  animation-name: flash;
  animation-duration: 1s;
}
div.comment-panel div.comment {
  box-sizing: border-box;
  border-top: 2px solid #dedede;
  border-bottom: 2px solid #dedede;
  margin: 5px 0;
  width: 100%;
  min-height: 30px;
  background-color: white;
  line-height: 30px;
  padding: 2px 30px;
  padding-left: 10px;
}
div.comment-panel div.comment img.comment-img {
  margin: 10px 0;
  margin-right: 20px;
  vertical-align: bottom;
  max-width: 40%;
  max-height: 900px;
  border-radius: 4px;
}
div.comment-panel div.comment span {
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
}
div.comment-panel div.comment span.info {
  vertical-align: top;
}
div.comment-panel div.comment span.id {
  margin-right: 0px;
}
div.comment-panel div.comment span.reply {
  z-index: 1;
  font-weight: normal;
}
div.comment-panel div.comment span.username {
  color: #6e6e6e;
}
div.comment-panel div.comment span.op {
  margin-left: 5px;
  color: #9b40ed;
  font-weight: bold;
  margin-right: 0;
}
div.comment-panel div.comment span.content {
  vertical-align: top;
  margin-left: 20px;
}
