div.post-panel {
  min-height: 200px;
  border-bottom: 3px solid #d9d9d9;
  position: relative;
  padding-bottom: 80px;
  background-color: #f7f7f7;
}
div.post-panel div.post-panel-top {
  height: 40px;
  border-bottom: 1px solid #d9d9d9;
  background-color: white;
}
div.post-panel div.post-panel-top span {
  display: inline-block;
  height: 100%;
  line-height: 40px;
  margin-right: 10px;
  margin-left: 10px;
}
div.post-panel div.post-panel-top img {
  margin-left: 20px;
  height: 15px;
}
div.post-panel h1.title {
  font-family: 'Roboto Condensed';
  margin-left: 30px;
}
div.post-panel div.content-wrapper {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 40px 40px;
  margin: 0 70px;
  font-family: 'Roboto';
  font-size: 13pt;
}
div.post-panel div.content-wrapper ol {
  counter-reset: item;
  list-style: none;
}
div.post-panel div.content-wrapper ol li {
  counter-increment: item;
  margin-bottom: 5px;
}
div.post-panel div.content-wrapper ol li:before {
  margin-right: 10px;
  content: counter(item) ' .';
  font-weight: bold;
}
div.post-panel div.content-wrapper h1,
div.post-panel div.content-wrapper h2,
div.post-panel div.content-wrapper h3,
div.post-panel div.content-wrapper h4,
div.post-panel div.content-wrapper h5,
div.post-panel div.content-wrapper h6 {
  padding-bottom: 7px;
  border-bottom: 3px solid #f1f1f1;
}
div.post-panel div.content-wrapper a {
  color: #5789df;
}
div.post-panel div.content-wrapper pre {
  font-family: 'Overpass Mono';
  background-color: #f9f9f9;
  padding: 15px;
  font-size: 12pt;
  border-radius: 3px;
  border: 1px solid #ccc;
}
div.post-panel div.content-wrapper pre code {
  font-family: inherit;
}
div.post-panel div.content-wrapper img {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 9px;
  max-width: 1100px;
}
div.post-panel div.content-wrapper hr {
  margin: 20px 0px;
  border: none;
  border-top: 3px solid #f8f8f8;
}
div.post-panel div.content-wrapper table {
  border: 1px solid #ccc;
  border-spacing: 0px;
}
div.post-panel div.content-wrapper th {
  background-color: #f1f1f1;
}
div.post-panel div.content-wrapper th,
div.post-panel div.content-wrapper td {
  border: 1px solid #ccc;
  padding: 10px 15px;
}
div.post-panel div.content-wrapper tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}
div.post-panel div.post-panel-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  border-top: 1px solid #d9d9d9;
  background-color: white;
}
div.post-panel div.post-panel-bottom span.post-panel-bottom-likes {
  display: inline-block;
  height: 100%;
  line-height: 50px;
  margin-left: 30px;
}
div.post-panel div.post-panel-bottom span.post-panel-bottom-likes img {
  top: 15px;
  left: 30px;
  height: 20px;
}
div.post-panel div.post-panel-bottom span.post-panel-bottom-views {
  display: inline-block;
  height: 100%;
  line-height: 50px;
  margin-left: 30px;
}
div.post-panel div.post-panel-bottom span.post-panel-bottom-views img {
  top: 15px;
  left: 30px;
  height: 20px;
}
.accent {
  color: #cb3c3c;
  font-weight: bold;
}
div.comment-panel {
  margin-top: 10px;
  min-height: 200px;
  width: 100%;
  background-color: white;
  padding-bottom: 25px;
  border-bottom: 3px solid #ccc;
}
div.comment-panel h2 {
  margin: 0 auto;
  padding: 10px;
}
div.comment-panel span.count {
  padding: 10px 20px;
  color: #a4a4a4;
}
div.comment-panel span.newcommentbutton {
  background-color: #f6f6f6;
  padding: 4px 8px;
  border-radius: 5px;
  color: #535353;
  border: 1px solid #d9d9d9;
}
div.comment-panel div.comments {
  margin-top: 20px;
  background-color: #f8f8f8;
  width: 100%;
  min-height: 30px;
  border-top: 3px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
div.comment-panel span.embed-newcomment {
  display: inline-block;
  height: 100%;
  font-size: 12px;
  color: #262626;
  font-weight: bold;
}
div.comment-panel div.comment {
  box-sizing: border-box;
  border-top: 2px solid #dedede;
  border-bottom: 2px solid #dedede;
  margin: 5px 0;
  width: 100%;
  min-height: 30px;
  background-color: white;
  line-height: 30px;
  padding: 2px 30px;
  padding-left: 10px;
}
div.comment-panel div.comment span {
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
}
div.comment-panel div.comment span.reply {
  font-weight: normal;
}
div.comment-panel div.comment span.username {
  color: #818181;
}
div.comment-panel div.comment span.op {
  margin-left: 5px;
  color: #303030;
  font-weight: bold;
  margin-right: 0;
}
div.comment-panel div.comment span.content {
  margin-left: 20px;
}
