html,
body {
  margin: 0;
  padding: 0;
}
* {
  font-family: Roboto;
}
body {
  background-image: url('../assets/tripattern.svg');
  background-size: 1024px;
  animation-name: movebg;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes movebg {
  100% {
    background-position: 1024px 1024px;
  }
}
div.wrapper {
  border-radius: 7px;
  overflow: hidden;
  width: 600px;
  height: 560px;
  background-color: white;
  margin: auto;
  margin-top: 160px;
  -webkit-box-shadow: 0px 0px 167px 13px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 167px 13px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 167px 13px rgba(0, 0, 0, 0.5);
}
div.logo {
  background-color: #cb3c3c;
  width: 600px;
  height: 80px;
}
div.logo img {
  position: absolute;
  display: block;
  height: 80px;
  margin: auto;
  margin-left: 140px;
}
form {
  padding: 50px;
}
form legend {
  font-family: 'Roboto Condensed';
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
form input[type="text"],
form input[type="password"] {
  width: 100%;
  box-sizing: border-box;
  border: 3px solid #6e6e6e;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 20px;
}
form input[type="submit"] {
  margin-top: 10px;
  padding: 15px 50px;
  border-style: none;
  color: white;
  background-color: #cb3c3c;
  border-radius: 5px;
  font-weight: bold;
}
form input[type="submit"]:hover {
  background-color: #b33030;
  cursor: pointer;
}
form span.error {
  display: inline-block;
  margin-left: 20px;
  padding: 12.5px 20px;
  color: #f18831;
  margin-top: 20px;
  font-weight: bold;
  border: 1px solid #f18831;
  background-color: #fdf1e6;
  border-radius: 5px;
}
span.signin {
  color: #585858;
  padding-left: 50px;
}
span.signin a {
  color: #5056db;
}
