// out: search.css

div.search-wrapper {
  background-color: white;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #ccc;

  form {
    text-align: center;
    padding-top: 15px;

    input {
      height: 30px;
      border: none;
    }

    input[type="text"] {
      box-sizing: border-box;
      border: 3px solid #6e6e6e;
      padding-left: 6px;
      font-weight: bold;
      border-radius: 5px;
    }

    input[type="submit"] {
      box-sizing: border-box;
      border-style: none;
      color: white;
      background-color: #cb3c3c;
      border-radius: 5px;
      font-weight: bold;
    }
  }
}
