div.search-wrapper {
  background-color: white;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
div.search-wrapper form {
  margin-left: 20px;
  padding-top: 15px;
}
div.search-wrapper form input {
  height: 30px;
  border: none;
}
div.search-wrapper form input[type="text"] {
  box-sizing: border-box;
  border: 3px solid #6e6e6e;
  padding-left: 6px;
  font-weight: bold;
  border-radius: 5px;
}
div.search-wrapper form input[type="submit"] {
  box-sizing: border-box;
  border-style: none;
  color: white;
  background-color: #cb3c3c;
  border-radius: 5px;
  font-weight: bold;
}
div.results {
  width: 100%;
}
div.results div.result {
  box-sizing: border-box;
  display: inline-block;
  height: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  line-height: 40px;
  font-size: 23px;
  margin-top: 8px;
  margin-left: 2.38%;
  margin-right: 2.38%;
  background-color: #f7f7f7;
  text-overflow: ellipsis;
  width: 45%;
}
div.results div.result span {
  margin-right: 30px;
}
div.results div.result span.username {
  font-weight: bold;
  margin-left: 10px;
  font-family: 'Roboto Condensed';
  width: 100%;
  line-height: 40px;
}
div.results div.result span.username img {
  display: inline-block;
  height: 15px;
}
div.results div.result span.small {
  float: right;
  line-height: 40px;
  font-size: 15px;
}
div.results div.result span.medium {
  float: right;
  line-height: 40px;
  font-size: 18px;
}
