div.user-panel {
  min-height: 80px;
  border-bottom: 3px solid #d9d9d9;
  position: relative;
  padding-bottom: 50px;
  background-color: #f7f7f7;
}
div.user-panel img.edit-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 13px;
  top: 55px;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
}
div.user-panel div.user-panel-top {
  height: 40px;
  border-bottom: 1px solid #d9d9d9;
  background-color: white;
}
div.user-panel div.user-panel-top span {
  display: inline-block;
  height: 100%;
  line-height: 40px;
  margin-right: 10px;
  margin-left: 10px;
}
div.user-panel div.user-panel-top span img {
  margin-left: 20px;
  height: 15px;
}
div.user-panel div.bio {
  margin: 30px 20%;
  margin-left: 25px;
  padding: 5px 20px;
}
div.user-panel div.bio:before {
  font-weight: bold;
  content: 'bio:';
  margin-right: 10px;
  background-color: white;
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 3px 6px;
  border-radius: 5px;
}
div.user-panel div.user-panel-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  border-top: 1px solid #d9d9d9;
  background-color: white;
}
div.user-panel div.user-panel-bottom span.user-panel-bottom-likes {
  position: absolute;
  display: inline-block;
  height: 100%;
  line-height: 50px;
}
div.user-panel div.user-panel-bottom span.user-panel-bottom-likes img {
  position: absolute;
  top: 15px;
  left: 30px;
  height: 20px;
}
div.user-panel div.user-panel-bottom span.user-panel-bottom-likes span {
  position: absolute;
  left: 60px;
}
